---
Owner: Anthony Nettles
Last edited time: 2023-05-28T12:42
Created time: 2023-05-28T12:42
---
> [!important]  
> Notion Tip: An owner of a page can verify it by clicking on the verification button above and choosing to verify the page for either a set amount of time or indefinitely!